body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.VContainer {
    display: flex;
    flex-direction: vertical;
    justify-content: center;
}

.HContainer {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
}

button {
    background-color: #008CBA;
    color: white;
    border: 1px solid black;
    width: 140px;
    padding: 15px 32px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

[name= Beginner] {
    background-color: #0033cc;
}

[name= Casual] {
    background-color: #009933;
}

[name= Tricky] {
    background-color: #ffcc00;
}

[name= Difficult] {
    background-color: #ff6600;
}

[name= Challenge] {
    background-color: #cc0000;
}

table { 
    margin: 2em auto;
    border-collapse: collapse; 
    font-family: Calibri, sans-serif;
    font-size: 1.5em;
}

td { 
    border: solid thin;
    height: 2em;
    width: 2em;
    text-align: center;
    padding: 0;
}

tr:first-child {
    border-top:solid medium;
}

tr:nth-child(3n) td { 
    border-bottom: solid medium; 
}

td:nth-child(3n) {
    border-right:solid medium;
}

td:first-child {
    border-left:solid medium;
}